:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --header-size: 50px;

  --menu-bg: #FFF;
  --menu-fg: #000;

  --menu-hover-fg: #000;
  --menu-hover-bg: #EEE;

  --menu-active-fg: #000;
  --menu-active-bg: #DDD;

  --border-color: #BBB;
  --focus-border-color: #239898;

  --sidebar-fg: #FFF;
  --sidebar-bg: #2F506D;

  --badge-fg: #FFF;
  --badge-bg: #1EA5D9;

  --active-fg: #FFF;
  --active-bg: #1EA5D9;
  --active-hover-bg: #1981A9;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.ct-header {
  color: var(--sidebar-fg);
  background-color: var(--sidebar-bg);
  height: var(--header-size);
}

.ct-btn {
  padding: 10px;
  text-align: center;
  min-width: 36px;
  font-size: 16px;
  line-height: 26px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.ct-btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
}
.ct-btn-group > .ct-btn {
  flex: 1 0 auto;
}

.ct-btn-group > .ct-btn:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ct-btn-group > .ct-btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ct-stat {
  padding: 8px 8px;
  text-align: center;
  min-width: 32px;
  font-size: 16px;
  line-height: 1;
  border: 1px solid #eee;
}

.fl-col {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.fl-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.fl-1 { flex:1; }
.fl-grow {
  flex: 1 0 auto;
}

.fl-shrink {
  flex: 0 1 auto;
}

.fl-no-shrink {
  flex: 0 0 auto;
}

.fl-grow-scroll-y {
  flex: 1 0 0;
  overflow-y: auto;
}

.fl-center {
  justify-content: center;
}

.fl-between {
  justify-content: space-between;
}

.fl-al-center {
  align-items: center;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.ph-min {
  padding-left: 5px;
  padding-right: 5px;
}

.ph1 {
  padding-left: 10px;
  padding-right: 10px;
}
.ph2 {
  padding-left: 20px;
  padding-right: 20px;
}
.pv1 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pv2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ct-popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 200;
}

.ct-popup-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.2);
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.2);

  border-radius: 5px;
  overflow: hidden;
  min-width: 200px;
  max-width: calc(100vw - 20px);
  color: #000;
  background-color: #FFF;
}

.ct-shadow {
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.1);
}

.ct-shadow-up {
  box-shadow: 0 -4px 10px 0 rgba(0,0,0,0.1);
}
.ct-shadow-down {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
}

/* Fade animation */
.ct-fade-enter-active,
.ct-fade-leave-active {
  transition: opacity 0.25s ease;
}

.ct-fade-enter-from,
.ct-fade-leave-to {
  opacity: 0;
}


input[type=text] {
  padding: 10px;
  border: 1px solid var(--border-color);
}

input[type=text]:focus {
  outline: none;
  border-color: var(--focus-border-color);
}

.ct-btn-tool {
  display: inline-block;
  min-width: 32px;
  line-height: 32px;
  text-decoration: none;
  color: inherit;
  text-align: center;
  border-radius: 2px;
  padding: 0 5px;
}

.ct-btn-tool:hover:not(.ct-disabled) {
  color: inherit;
  background-color: rgba(0,0,0,0.1);
}

.ct-btn-tool.active {
  color: var(--active-fg);
  background-color: var(--active-bg);
}

.ct-btn-tool.active:hover {
  color: var(--active-fg);
  background-color: var(--active-hover-bg);
}


.ct-danger {
  color: #ac0000 !important;
}

.fl-gap-1 {
  gap: 10px;
}

.y-gap-1>* {
  margin-bottom: 10px;
}

.y-gap-1>:last-child {
  margin-bottom: 0;
}
.x-gap-1>* {
  margin-right: 10px;
}

.x-gap-1>:last-child {
  margin-right: 0;
}

.ct-x-flip {
  transform: scaleX(-100%);
}

.ct-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ct-nowrap {
  white-space: nowrap;
}

.ct-disabled {
  opacity: .5;
  cursor: not-allowed;
}

.ct-app {
  width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 100dvh;
}

.ct-sidebar {
  position: fixed;
  top: var(--header-size);
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0;
  background-color: rgba(0,0,0,0.5);
  transition: opacity .25s;
  z-index: 100;
  pointer-events: none;
}

.ct-sidebar-body {
  --menu-fg: var(--sidebar-fg);
  --menu-bg: var(--sidebar-bg);
  --menu-hover-fg: #FFF;
  --menu-hover-bg: rgba(0, 0, 0, 0.1);
  --menu-active-fg: #000;
  --menu-active-bg: #FFF;

  position: relative;
  left: -300px;
  width: 300px;
  height: 100%;
  overflow: hidden;
  transition: left .25s;

  color: var(--sidebar-fg);
  background-color: var(--sidebar-bg);

  -webkit-box-shadow: 4px 0 5px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 4px 0 5px 0 rgba(0,0,0,0.2);
  box-shadow: 4px 0 5px 0 rgba(0,0,0,0.2);
}

.ct-sidebar.ct-sidebar-open {
  opacity: 1;
  pointer-events: initial;
}

.ct-sidebar.ct-sidebar-open .ct-sidebar-body {
  left: 0;
}

.ct-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;

  >li>a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: var(--menu-fg);
    background-color: var(--menu-bg);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  >li:hover>a {
    color: var(--menu-hover-fg);
    background-color: var(--menu-hover-bg);
  }

  >li.ct-active>a {
    color: var(--menu-active-fg);
    background-color: var(--menu-active-bg);
  }
  >li>hr {
    border:none;
    border-top: 1px solid #DDD;
    margin: 5px 0;
  }
}

.ct-badge {
  display: inline-block;
  color: var( --badge-fg );
  background-color: var( --badge-bg );
  font-size: 14px;
  line-height: 1;
  padding: 4px 5px;
  min-width: 22px;
  text-align: center;
  border-radius: 100px;
}

.ct-enum>span:after {
  content: '/';
  display: inline-block;
  margin: 0 3px;
  opacity: .4;
}
.ct-enum>span:last-child:after {
  display: none;
}

.ct-group-title {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px dashed currentColor;
}
.ct-counter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ct-counter-list>li {
  border-bottom: 1px solid #DDD;
}

.ct-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.ct-table.ct-table-striped tr:nth-child(even) {
  background-color: #EEE;
}
.ct-table th,
.ct-table td {
  padding: 10px;
}
.ct-table>thead>tr:last-child>* {
  border-bottom: 2px solid #CCC;
}
.ct-table>tfoot>tr:first-child>* {
  border-top: 2px solid #CCC;
}

/* Datepicker */
.ct-datepicker {
  min-width: 300px;
}

.ct-datepicker .opt,
.ct-datepicker .dow {
  display: inline-block;
  padding: 10px;
  color: inherit;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.ct-datepicker .day,
.ct-datepicker .dow {
  width: 14.285714286%;
}

.ct-datepicker .mon,
.ct-datepicker .year {
  width: 25%;
}

.ct-datepicker .opt.selected {
  color: #FFF;
  background-color: #F00;
  border-radius: 4px;
}

.ct-datepicker .opt.prev,
.ct-datepicker .opt.next
{
  opacity: 0.4;
}

.ct-datepicker .opt.hl:after {
  content: '';
  position: absolute;
  top: 4px;
  right: 4px;
  width: 6px;
  height: 6px;
  background-color: #F00;
  border-radius: 3px;
}

.ct-datepicker .opt.selected.hl:after {
  background-color: #FFF;
}

.ct-datepicker-nav {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;

}

.ct-datepicker-nav a.title {
  flex: 1 0 auto;
  text-align: left;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  background-color: #FFF;
  border-radius: 4px;
}

select:focus {
  outline: none;
}

.ct-selected {
  color: #646cff;
}